flows2.json
[{"id":"a648db3.a2c8528","type":"tab","label":"Main","disabled":false,"info":""},{"id":"482fc81f.67f628","type":"tab","label":"fan","disabled":false,"info":""},{"id":"bd05fffe.e030c","type":"tab","label":"reload all","disabled":false,"info":""},{"id":"23156dad.5b2c72","type":"tab","label":"Nora","disabled":false,"info":""},{"id":"6d655fe7.7da","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"1d6286a7.07c509","type":"ui_group","z":"","name":"Ванна","tab":"6b040d76.0df484","disp":true,"width":"11","collapse":false},{"id":"8932b1f2.e16eb","type":"ui_group","z":"","name":"двери","tab":"29f9c94e.0a3736","disp":true,"width":"10","collapse":false},{"id":"d9866dbb.2fec5","type":"ui_group","z":"","name":"Балкон","tab":"8dbf6b9e.f75e38","disp":true,"width":"11","collapse":false},{"id":"b8905b6.bebd3a8","type":"ui_group","z":"","name":"Теплый пол","tab":"2bbcbf20.c8e2d","disp":true,"width":"6","collapse":false},{"id":"5a3ab911.113578","type":"ui_group","z":"","name":"Балкон","tab":"2bbcbf20.c8e2d","disp":true,"width":"7","collapse":false},{"id":"35df82c9.a24dbe","type":"tls-config","z":"","name":"","cert":"/data/data/com.termux/files/home/certificate.pem","key":"/data/data/com.termux/files/home/privatekey.pem","ca":"/data/data/com.termux/files/home/certificate.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"e4679b17.20c6c8","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"6b040d76.0df484","type":"ui_tab","z":"","name":"Ванна","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"29f9c94e.0a3736","type":"ui_tab","z":"","name":"двери","icon":"dashboard","disabled":false,"hidden":false},{"id":"8dbf6b9e.f75e38","type":"ui_tab","z":"","name":"Балкон","icon":"dashboard","disabled":false,"hidden":false},{"id":"2bbcbf20.c8e2d","type":"ui_tab","z":"","name":"Квартира","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5674f3e1.9873dc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4020d47c.912c0c","type":"ui_group","z":"","name":"Sliders","tab":"bb3849a3.b31188","disp":true,"width":"6","collapse":false},{"id":"2aaf8c7a.cc9224","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb3849a3.b31188","type":"ui_tab","z":"","name":"Some stuff","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7c18cfdb.a26cf","type":"ui_group","z":"","name":"flowtest","tab":"25fea7c6.9685b8","disp":true,"width":"12","collapse":false},{"id":"25fea7c6.9685b8","type":"ui_tab","z":0,"name":"Test","icon":"dashboard","order":6},{"id":"a322e9f5.e63738","type":"telegram bot","z":"","botname":"spspiderbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ec65a2d5.86f9a","type":"telegram bot","z":"6d655fe7.7da","botname":"HeinzBot"},{"id":"6de3f445.db4dfc","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"478acd8c.d22cb4","type":"inject","z":"a648db3.a2c8528","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"60","x":110,"y":80,"wires":[["bab1a709.79adb8","b5c29cde.04208","ef0d1d4f.e250d","8f7bddca.d156"]]},{"id":"9c94cd6e.5f2e3","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"1d6286a7.07c509","order":4,"width":"0","height":"0","label":"Температура в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":60,"wires":[[]]},{"id":"b5c29cde.04208","type":"http request","z":"a648db3.a2c8528","name":"двери","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":260,"wires":[["8cf7cc0.7cd1638"]]},{"id":"b74d8b3c.804e88","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"8932b1f2.e16eb","order":1,"width":"0","height":"0","label":"Мощность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":300,"wires":[[]]},{"id":"415bba88.67fc54","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"1d6286a7.07c509","order":5,"width":"0","height":"0","label":"Влажность в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#0fc80b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":120,"wires":[[]]},{"id":"109977ce.0de158","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":5,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":40,"wires":[[]]},{"id":"b651f1cf.6fd6d","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"вентилятор в ванной левый","tooltip":"","group":"1d6286a7.07c509","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1240,"y":40,"wires":[["109977ce.0de158"]]},{"id":"e193d08e.d477b","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"вентилятор в ванной правый","tooltip":"","group":"1d6286a7.07c509","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1250,"y":80,"wires":[["dfb84711.14e2c8"]]},{"id":"dfb84711.14e2c8","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":6,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":80,"wires":[[]]},{"id":"bab1a709.79adb8","type":"http request","z":"a648db3.a2c8528","name":"ванна","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.112/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":80,"wires":[["224a288f.65aa48","9e9b4f5a.931ae"]]},{"id":"224a288f.65aa48","type":"function","z":"a648db3.a2c8528","name":"Bathroom","func":"var parsed =(msg.payload);\nvar stat0={};\nvar stat2={};\n\nstat0.payload =parsed.stat[0];//движение\nstat2.payload =parsed.stat[2];//влажность\n\nvar stat1 ={payload: parsed.stat[1]};//температура\nvar stat3 ={payload: parsed.stat[3]};//3\nvar stat4 ={payload: parsed.stat[4]};//4\nvar stat5 ={payload: parsed.stat[5]};//вентилятор леввый\nvar stat6 ={payload: parsed.stat[6]};//вентилятор правый\nstat0.topic = \"move\";\nstat2.topic = \"humidity\";\nreturn [ stat0, stat1, stat2,stat5,stat6 ];","outputs":5,"noerr":0,"x":460,"y":80,"wires":[["da5d9ea5.a65f7","ade547b7.05ccb8"],["b9960972.12c928"],["cf2aacb2.fe0c4"],["b651f1cf.6fd6d","da61f487.9d14f8"],["e193d08e.d477b","da61f487.9d14f8"]]},{"id":"7547afdc.0390a","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"1d6286a7.07c509","order":3,"width":"0","height":"0","label":"движение в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":20,"wires":[[]]},{"id":"8cf7cc0.7cd1638","type":"function","z":"a648db3.a2c8528","name":"двери","func":"var parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//открытие двери\nvar stat1 ={payload: parsed.stat[1]};//звонок\nvar stat2 ={payload: parsed.stat[2]};//детектор движения\nvar stat3 ={payload: parsed.stat[3]};//3 - домофон питание\nvar stat4 ={payload: parsed.stat[4]};//4 - домофон вкл\nvar stat5 ={payload: parsed.stat[5]};//5 - замок\nvar stat6 ={payload: parsed.stat[6]};//6 -мощность\nstat0.topic=\"открытие двери\";\n\nreturn [ stat0, stat1, stat2 , stat3 , stat4 , stat5 , stat6 ];","outputs":7,"noerr":0,"x":390,"y":260,"wires":[["855c1d86.dbeb2","8f19b966.fa1068","955ada72.8e6578","fbb30cc9.e2523"],[],["1506bed8.89f591"],[],[],[],["2e426d7b.fdb4d2","857af36e.64ca4"]]},{"id":"1c00d6c3.f475e9","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"8932b1f2.e16eb","order":5,"width":"0","height":"0","label":"открытие двери","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":200,"wires":[[]]},{"id":"764b56c5.93a258","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"8932b1f2.e16eb","order":6,"width":"0","height":"0","label":"детектор движения входная дверь","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":260,"wires":[[]]},{"id":"8f7bddca.d156","type":"http request","z":"a648db3.a2c8528","name":"балкон","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.114/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":120,"y":560,"wires":[["77ae292e.4bd9d8"]]},{"id":"70cc7f14.8844c","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"d9866dbb.2fec5","order":1,"width":"0","height":"0","label":"температура","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":560,"wires":[[]]},{"id":"60a2753e.caadcc","type":"function","z":"a648db3.a2c8528","name":"балкон","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};//увлажнение\nvar stat2 ={payload: parsed.stat[1]};//полив\nvar stat3 ={payload: parsed.stat[2]};//температура\nvar stat4 ={payload: parsed.stat[3]};//влажность\nvar stat8 ={payload: parsed.stat[8]};//цветок1\nstat8.topic=\"flv1\";\nvar stat9 ={payload: parsed.stat[9]};//цветок2\nstat9.topic=\"flv2\";\n\nreturn [ stat1, stat2, stat3 , stat4,stat8,stat9 ];","outputs":6,"noerr":0,"x":420,"y":580,"wires":[["ce5a8ad4.0fdcf8"],["5816f60f.7db088"],["ffa334d4.662378"],["a0df0e9f.cbca6"],["354e93f5.aa9b3c"],["da27be69.4ace9"]]},{"id":"5e27ec9d.35b544","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"d9866dbb.2fec5","order":6,"width":"0","height":"0","label":"увлажнение","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":540,"wires":[[]]},{"id":"2df78027.b6162","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"d9866dbb.2fec5","order":7,"width":"0","height":"0","label":"полив","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":520,"wires":[[]]},{"id":"de82db5a.c69928","type":"ui_chart","z":"a648db3.a2c8528","name":"","group":"d9866dbb.2fec5","order":1,"width":"0","height":"0","label":"влажность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":580,"wires":[[]]},{"id":"79350d15.072ab4","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.112/sendAJAX?json={%22t%22:4,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":200,"wires":[[]]},{"id":"3548e726.c97c68","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"домофон включение","tooltip":"","group":"8932b1f2.e16eb","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1260,"y":200,"wires":[["79350d15.072ab4"]]},{"id":"c3c15d1f.b560d","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"домофон запитать с акк","tooltip":"","group":"8932b1f2.e16eb","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1230,"y":240,"wires":[["8b24cafb.cef298"]]},{"id":"8b24cafb.cef298","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.112/sendAJAX?json={%22t%22:3,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":240,"wires":[[]]},{"id":"ef0d1d4f.e250d","type":"http request","z":"a648db3.a2c8528","name":"теплый пол","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":780,"wires":[["ad464593.31f9c8"]]},{"id":"ad464593.31f9c8","type":"function","z":"a648db3.a2c8528","name":"теплый пол","func":"var parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//батарея балкон\nvar stat1 ={payload: parsed.stat[1]};//насос\nvar stat2 ={payload: parsed.stat[2]};//кухня\nvar stat3 ={payload: parsed.stat[3]};//ванна\nvar stat4 ={payload: parsed.stat[4]};//коридор\nvar stat5 ={payload: parsed.stat[5]};//комната1\nvar stat6 ={payload: parsed.stat[6]};//комната2\nvar stat7 ={payload: parsed.stat[7]};//балкон\nreturn [ stat0, stat1, stat2, stat3, stat4,stat5,stat6,stat7 ];","outputs":8,"noerr":0,"x":430,"y":800,"wires":[["15cc5e9f.4eade1"],["fc5dd23c.57901"],["e0836528.a83a48"],["1ae5f279.1b4c0e"],["2df8cfd3.6ad03"],["1ebf10b7.ba3d5f"],["76f0ebb7.1293a4"],["62827f79.ea12c"]]},{"id":"f7b80b6b.ef2d68","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:0,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":740,"wires":[[]]},{"id":"15cc5e9f.4eade1","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"батарея балкон","tooltip":"","group":"b8905b6.bebd3a8","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":660,"y":740,"wires":[["f7b80b6b.ef2d68"]]},{"id":"fc5dd23c.57901","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"насос","tooltip":"","group":"b8905b6.bebd3a8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":630,"y":760,"wires":[["b2ba9cb6.a40f2"]]},{"id":"b2ba9cb6.a40f2","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:1,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":760,"wires":[[]]},{"id":"c67d9d11.6f6be","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:2,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":780,"wires":[[]]},{"id":"e0836528.a83a48","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"кухня","tooltip":"","group":"b8905b6.bebd3a8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":630,"y":780,"wires":[["c67d9d11.6f6be"]]},{"id":"1ae5f279.1b4c0e","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"ванна","tooltip":"","group":"b8905b6.bebd3a8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":630,"y":800,"wires":[["ac9f4aae.46a248"]]},{"id":"ac9f4aae.46a248","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:3,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":800,"wires":[[]]},{"id":"682b83bd.3a956c","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:4,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":820,"wires":[[]]},{"id":"2df8cfd3.6ad03","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"коридор","tooltip":"","group":"b8905b6.bebd3a8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":640,"y":820,"wires":[["682b83bd.3a956c"]]},{"id":"1ebf10b7.ba3d5f","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"комната1","tooltip":"","group":"b8905b6.bebd3a8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":640,"y":840,"wires":[["560ce6d.48b0818"]]},{"id":"560ce6d.48b0818","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:5,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":840,"wires":[[]]},{"id":"a8d4b166.6deff","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:6,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":860,"wires":[[]]},{"id":"76f0ebb7.1293a4","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"комната2","tooltip":"","group":"b8905b6.bebd3a8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":640,"y":860,"wires":[["a8d4b166.6deff"]]},{"id":"62827f79.ea12c","type":"ui_switch","z":"a648db3.a2c8528","name":"","label":"балкон","tooltip":"","group":"b8905b6.bebd3a8","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":640,"y":880,"wires":[["24eee262.140a2e"]]},{"id":"24eee262.140a2e","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:7,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":880,"wires":[[]]},{"id":"855c1d86.dbeb2","type":"ui_button","z":"a648db3.a2c8528","name":"","group":"8932b1f2.e16eb","order":3,"width":0,"height":0,"passthru":false,"label":"Открыть замок","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":560,"y":220,"wires":[["8a6f3458.30c758"]]},{"id":"8a6f3458.30c758","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:5,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":220,"wires":[["1efea2ae.c6df5d"]]},{"id":"513b2abc.bece74","type":"http request","z":"a648db3.a2c8528","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:5,%22v%22:1}","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":280,"wires":[[]]},{"id":"1efea2ae.c6df5d","type":"delay","z":"a648db3.a2c8528","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":280,"wires":[["513b2abc.bece74"]]},{"id":"ad7590d1.663cb","type":"debug","z":"a648db3.a2c8528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":940,"wires":[]},{"id":"27dccb29.8764a4","type":"inject","z":"a648db3.a2c8528","name":"в 20:00","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":380,"y":900,"wires":[["62827f79.ea12c","e0836528.a83a48","76f0ebb7.1293a4","2df8cfd3.6ad03","1ebf10b7.ba3d5f","fc5dd23c.57901"]]},{"id":"3c3ad76d.eb58b8","type":"inject","z":"a648db3.a2c8528","name":"в 05:00","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"0 5-18 * * *","once":false,"onceDelay":0.1,"x":380,"y":940,"wires":[["db14ae07.2c72c"]]},{"id":"398d0c45.9caee4","type":"inject","z":"a648db3.a2c8528","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":"30","x":330,"y":1040,"wires":[["aa5ad360.2fba7"]]},{"id":"aa5ad360.2fba7","type":"http request","z":"a648db3.a2c8528","name":"IP","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.ipify.org?format=json","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":1040,"wires":[["ca120e8a.25c7b"]]},{"id":"2e426d7b.fdb4d2","type":"ui_gauge","z":"a648db3.a2c8528","name":"","group":"8932b1f2.e16eb","order":2,"width":0,"height":0,"gtype":"gage","title":"мощность","label":"кВт","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":340,"wires":[]},{"id":"a0a7c849.ddc108","type":"e-mail","z":"a648db3.a2c8528","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"spspider95@gmail.com","dname":"","x":930,"y":1040,"wires":[]},{"id":"ca120e8a.25c7b","type":"function","z":"a648db3.a2c8528","name":"mail","func":"\nmsg.topic=\"IP\";\nmsg.to=\"spspider95@gmail.com\";\nmsg.from=\"IPAdress\";\n\nvar thatIP= msg.payload.ip;\n\nvar storedIP = context.get ('ip') || 0;\nif(storedIP!==thatIP){\ncontext.set(\"ip\",thatIP);\nmsg.payload=\"https://\"+thatIP+\":1880/ui\";\n}\nif (thatIP===undefined){return null;}\nelse{\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["a0a7c849.ddc108","ea716838.e75898"]]},{"id":"e4040ca.dd267f","type":"http request","z":"a648db3.a2c8528","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.114","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":540,"wires":[[]]},{"id":"6dec2154.0e2e5","type":"function","z":"a648db3.a2c8528","name":"saveData","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"KEY\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": \"myfile.png\"\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":540,"wires":[["e4040ca.dd267f"]]},{"id":"898effd4.bbd","type":"googlehome-controller","z":"a648db3.a2c8528","name":"homeController","x":440,"y":1180,"wires":[["cc19d994.708988"],["4fd213e0.d446ec"]]},{"id":"8f8974d8.482708","type":"http request","z":"a648db3.a2c8528","d":true,"name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://94.131.199.182:18081","tls":"35df82c9.a24dbe","persist":false,"proxy":"","authType":"basic","x":190,"y":1180,"wires":[["898effd4.bbd"]]},{"id":"cc19d994.708988","type":"googlehome-intent","z":"a648db3.a2c8528","name":"smarthome","intent":"smarthome","x":710,"y":1240,"wires":[["69c85055.47f18"]]},{"id":"69c85055.47f18","type":"googlehome-ask","z":"a648db3.a2c8528","name":"ask","message":"msg.req.params","x":890,"y":1260,"wires":[["d60810e7.dd8f9"]]},{"id":"d60810e7.dd8f9","type":"googlehome-send","z":"a648db3.a2c8528","name":"","close_conversation":true,"continue_after":false,"close_message":"cloase message","x":1080,"y":1280,"wires":[[]]},{"id":"4fd213e0.d446ec","type":"http response","z":"a648db3.a2c8528","name":"","statusCode":"","headers":{},"x":640,"y":1320,"wires":[]},{"id":"da61f487.9d14f8","type":"nora-light","z":"a648db3.a2c8528","d":true,"devicename":"Вентиляторы","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"вентиляторы","name":"вентиляторы","nora":"e4679b17.20c6c8","topic":"вентиляторы","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","x":920,"y":80,"wires":[["109977ce.0de158","dfb84711.14e2c8"]]},{"id":"e63cc6e7.389a08","type":"nora-thermostat","z":"a648db3.a2c8528","devicename":"температура","roomhint":"Спальня вторая","name":"температура","modes":"off,auto","unit":"C","topic":"вентиляторы","passthru":false,"commandOnly":false,"queryOnly":false,"bufferRangeCelsius":2,"nora":"e4679b17.20c6c8","x":710,"y":480,"wires":[[]]},{"id":"8f19b966.fa1068","type":"nora-lock","z":"a648db3.a2c8528","devicename":"замок двери входной","roomhint":"","name":"","passthru":false,"nora":"e4679b17.20c6c8","topic":"","lockValue":"false","lockValueType":"bool","unlockValue":"true","unlockValueType":"bool","jammedValue":"true","jammedValueType":"bool","unjammedValue":"false","unjammedValueType":"bool","x":590,"y":160,"wires":[["8a6f3458.30c758"]]},{"id":"46cbce60.963f","type":"function","z":"a648db3.a2c8528","name":"reparse","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};\nvar stat2 ={payload: parsed.stat[1]};\nvar stat3 ={payload: parsed.stat[2]};\nvar stat4 ={payload: parsed.stat[3]};\n\nmsg.payload ={\n\"mode\":\"on\",\n\"humidity\":stat4.payload,\n\"temperature\":stat3.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["e63cc6e7.389a08"]]},{"id":"ce564a0f.3a5d48","type":"debug","z":"a648db3.a2c8528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":140,"wires":[]},{"id":"da5d9ea5.a65f7","type":"function","z":"a648db3.a2c8528","d":true,"name":"check time","func":"var nowDate = new Date();\nvar secondtime=0;\nvar msg2=msg;\nmsg2.topic=\"dealyTopic\";\nvar storedMoveBathroom = context.get ('storedMoveBathroom') || 0;\nvar storedDontMoveBathroom = context.get ('storedDontMoveBathroom') || 0;\nvar Hour = nowDate.getHours();\n\nif (msg.topic==\"move\"){\nif ((Hour>8)&&(Hour<22)){\n    if((msg.payload==1)&&(storedMoveBathroom>2)){\n     msg.topic=\"secondMove\";\n    }\n    if((msg.payload==0)&&(storedDontMoveBathroom>2)){\n     msg.topic=\"delay\";\n    }\n}else{\n     msg.topic=\"delay\";\n}\nif (msg.payload==0){\n   context.set(\"storedMoveBathroom\",0);\n   storedDontMoveBathroom++;\n   context.set(\"storedDontMoveBathroom\",storedDontMoveBathroom);\n}\nelse{\n     context.set(\"storedDontMoveBathroom\",0);\n     storedMoveBathroom++;\n     context.set(\"storedMoveBathroom\",storedMoveBathroom);\n}\n}else if(msg.topic==\"humidity\"){\n    if (msg.payload>50){\n       context.set(\"storedDontMoveBathroom\",0);\n    }\n}\n\nswitch (msg.topic){\ncase \"secondMove\":\n     msg.payload=0;\n     break;\n     case \"delay\":\n        msg.payload=1;\n        \n        \n     break;\n     case \"humidity\":\n        msg=null; \n         break;\n     default:\n     msg=null;\n}\n    // msg2.payload=0;\n\n\n//context.set(\"storedMoveBathroom\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[["ce564a0f.3a5d48","b651f1cf.6fd6d","2fcccc78.5e5904","e193d08e.d477b"]]},{"id":"2fcccc78.5e5904","type":"delay","z":"a648db3.a2c8528","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":140,"wires":[["244639a4.89dd26"]]},{"id":"244639a4.89dd26","type":"function","z":"a648db3.a2c8528","name":"delay topic","func":"msg.topic=\"delay\";\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":140,"wires":[["da5d9ea5.a65f7"]]},{"id":"3af8b263.a98c3e","type":"inject","z":"482fc81f.67f628","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["8226a539.ae1ca8"]]},{"id":"8226a539.ae1ca8","type":"http request","z":"482fc81f.67f628","name":"TCPU","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.100:8084/api","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":120,"wires":[["7f8797f.446c568"]]},{"id":"7f8797f.446c568","type":"function","z":"482fc81f.67f628","name":"replace","func":"var TCPU={};\nvar TGPU={};\nvar TMOBO={};\nvar changestring;\nvar str;\nstr=msg.payload;\n\n        function findValue(str, value, endvalue) {\n           // value=\"label\";\n            var found = {};\n            var index = 0;\n\n              //str.slice(str.search(value));\n            str.trim();\n            while(str.indexOf(value)!==-1) {\n                var n= str.indexOf(value);\n                str = str.slice(n+value.length);\n                n=str.indexOf(endvalue);\n                found[index++] =parseInt(str.substr(0,n));\n                str = str.slice(str.indexOf(endvalue));\n\n            }\n\n                //found[index++] = str;\n                //found=str.substring(0,str.search(endvalue));\n            //}\n            return found;\n        }\n        var foundedObject=findValue(str,\"value: \\\"\",\"\\\",\");  \n    TCPU.payload=foundedObject[0];\n    TGPU.payload=foundedObject[1];\n    TMOBO.payload=foundedObject[2];\n\n    var gpu={};\n    var cpu={};\n    var system={};\n    gpu.payload = (TGPU.payload-35)*1024/(60-35);\n    cpu.payload = (TCPU.payload-54)*1024/(60-54);\n    system.payload = (TMOBO.payload-20)*1024/(48-20);\n    system.payload=768;\n    gpu.payload=0?1024:gpu.payload;\n    cpu.payload=0?1024:cpu.payload;\n    system.payload=0?1024:system.payload;\n    \nreturn [cpu,gpu,system];","outputs":3,"noerr":0,"x":500,"y":120,"wires":[[],["79a2d3ec.43ec3c","bf0b9db8.71168"],["1ab16ecb.4d7061"]]},{"id":"9ea86837.4f44c8","type":"http request","z":"bd05fffe.e030c","name":"192.168.1.110 дверь","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.110/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":60,"wires":[[]]},{"id":"678825fe.49684c","type":"inject","z":"bd05fffe.e030c","name":"once on load","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["9ea86837.4f44c8","184ebf2.4830741","44098044.c6f11","528dc62e.ae90c8"]]},{"id":"184ebf2.4830741","type":"http request","z":"bd05fffe.e030c","name":"192.168.1.111 теплый пол","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.111/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":100,"wires":[[]]},{"id":"44098044.c6f11","type":"http request","z":"bd05fffe.e030c","name":"192.168.1.112 ванна","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":401,"y":140,"wires":[[]]},{"id":"528dc62e.ae90c8","type":"http request","z":"bd05fffe.e030c","name":"192.168.1.114 полив балкон","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.114/function?json={reboot:1}","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":180,"wires":[[]]},{"id":"7ae648d9.492578","type":"http request","z":"482fc81f.67f628","name":"GPU","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.113/sendAJAX?json={\"t\":3,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":120,"wires":[[]]},{"id":"29556e03.549442","type":"http request","z":"482fc81f.67f628","name":"CPU temperature","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.113/sendAJAX?json={\"t\":5,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":60,"wires":[[]]},{"id":"8785d1a8.e6377","type":"http request","z":"482fc81f.67f628","name":"system","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.113/sendAJAX?json={\"t\":4,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":160,"wires":[[]]},{"id":"8a5bc049.8bf59","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":200,"wires":[[]]},{"id":"6279218.ece2de","type":"function","z":"482fc81f.67f628","name":"ws8211","func":"var col=msg.payload;\ncol=(col-0)*255/(1024-0);\nvar AjaxFormat=\"http://192.168.1.113/ws2811AJAX?json={%22from%22:[0],%22to%22:[7],%22type%22:[2],%22dir%22:[0],%22col%22:[\"+col+\"],%22wh%22:[0],%22br_%22:[255],%22num%22:1,%22sp%22:19,%22dr%22:255,%22fd%22:72,%22fdt%22:3,%22br%22:149}\";\nmsg.url=AjaxFormat;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":200,"wires":[["8a5bc049.8bf59"]]},{"id":"79a2d3ec.43ec3c","type":"delay","z":"482fc81f.67f628","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":120,"wires":[["7ae648d9.492578"]]},{"id":"1ab16ecb.4d7061","type":"delay","z":"482fc81f.67f628","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":160,"wires":[["8785d1a8.e6377"]]},{"id":"bf0b9db8.71168","type":"delay","z":"482fc81f.67f628","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":200,"wires":[[]]},{"id":"592773f9.e27d7c","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":240,"wires":[[]]},{"id":"ef192012.7c618","type":"function","z":"482fc81f.67f628","name":"ws8211","func":"var TCPU={};\nvar TGPU={};\nvar TMOBO={};\nvar changestring;\nvar str;\nstr=msg.payload;\n\n        function findValue(str, value, endvalue) {\n           // value=\"label\";\n            var found = {};\n            var index = 0;\n\n              //str.slice(str.search(value));\n            str.trim();\n            while(str.indexOf(value)!==-1) {\n                var n= str.indexOf(value);\n                str = str.slice(n+value.length);\n                n=str.indexOf(endvalue);\n                found[index++] =parseInt(str.substr(0,n));\n                str = str.slice(str.indexOf(endvalue));\n\n            }\n\n                //found[index++] = str;\n                //found=str.substring(0,str.search(endvalue));\n            //}\n            return found;\n        }\n        var foundedObject=findValue(str,\"value: \\\"\",\"\\\",\");  \n    TCPU.payload=foundedObject[0];\n    TGPU.payload=foundedObject[1];\n    TMOBO.payload=foundedObject[2];\n\n    var gpu={};\n    var cpu={};\n    var system={};\n    gpu.payload = (TGPU.payload-35)*255/(60-35);\n    cpu.payload = (TCPU.payload-54)*1024/(60-54);\n    system.payload = (TMOBO.payload-20)*1024/(48-20);\n    system.payload=768;\n    gpu.payload=0?1024:gpu.payload;\n    cpu.payload=0?1024:cpu.payload;\n    system.payload=0?1024:system.payload;\n    \n\n\n\n\n\nvar col=gpu.payload;\nvar url=\"http://192.168.1.113/ws2811AJAX?json=\";\n//col=parseInt((col-0)*255/(1024-0));\nvar AjaxFormat=url+'{\"from\":[0],\"to\":[88],\"type\":[2],\"dir\":[0],\"col\":['+col+'],\"wh\":[254],\"br_\":[255],\"num\":1,\"sp\":100,\"dr\":255,\"fd\":45,\"fdt\":3,\"br\":12}';\nmsg.url=AjaxFormat;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["592773f9.e27d7c"]]},{"id":"b7c4f004.3e2ca","type":"function","z":"482fc81f.67f628","name":"bathroomTime","func":"    var g1 = [], g2 = [], g3 = [];\n    var num = 88;\n    var wh = 1;\n    var FullLight = 255;\n    var LowLight = 125;\n    var color =255;\nvar StartEndPosition=122;\n\n    function binIndex(dec, maxSize) {\n        var bin = (dec >>> 0).toString(2);\n        var binchar = [];\n        var i = 0;\n        while (bin.length > 0) {\n            var char = parseInt(bin.charAt(0)) === 1 ? LowLight : FullLight;\n            bin = bin.slice(1);\n            binchar[i] = char;\n            i++;\n        }\n        while (i < maxSize) {\n            binchar[i] = LowLight;\n            i++;\n        }\n        return binchar;\n    }\n\n    var date = new Date();\n    var hour = date.getHours();\n\n    var concatBin;\n    var dempfer = [];\n    var i1 = 0;\n    while (i1 < 17) {\n        dempfer[i1] = FullLight;\n        i1++;\n    }\n    concatBin = dempfer.concat(binIndex(hour, 5)).concat(binIndex(date.getMinutes(), 11)\n        .concat(binIndex(date.getSeconds(), 6)));\n    //console.log(concatBin);\n    for (var i = 0; i < num; i++) {\n\n        g1[i] = 255;\n        g3[i] = concatBin[i] != null ? concatBin[i] : FullLight;\n        //g3[i] = concatBin[i];\n    }\n    //console.log(g1.toString());\n    var JsonString = {};\n    JsonString.num = num;\n    //JsonString.g1 = g1;\n    JsonString.g1 = color;\n    JsonString.g3 = g3;\n    JsonString.wh = wh;\n\n    var Stringify = JSON.stringify(JsonString);\n    var length_str=Stringify.length/200;\n    console.log(length_str);\n    var link = \"192.168.1.112/ws2811AJAXset?json=\" + JSON.stringify(JsonString);\n        msg.url=link;\n    return msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["ec19f369.9c048"]]},{"id":"ec19f369.9c048","type":"http request","z":"482fc81f.67f628","name":"bath","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":960,"y":340,"wires":[[]]},{"id":"349508df.5bb7b8","type":"inject","z":"482fc81f.67f628","d":true,"name":"10sec","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":340,"wires":[["d86840c8.c104c"]]},{"id":"88b1a0a0.f1bd1","type":"debug","z":"482fc81f.67f628","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":540,"wires":[]},{"id":"d86840c8.c104c","type":"function","z":"482fc81f.67f628","name":"bathroom","func":"   function getRandomArbitrary(min, max) {\n        return Math.floor(Math.random() * (max - min) + min);\n    }\n       var JsonString = {};\n    JsonString.from = [0];\n    //JsonString.g1 = g1;\n    JsonString.to = [88];\n    JsonString.type = [getRandomArbitrary(1,13)];\n    JsonString.dir = [0];\n    JsonString.col = [0];\n    JsonString.wh = [1];\n    JsonString.br_ = [255];\n    JsonString.num = 1;\n    JsonString.sp = getRandomArbitrary(1,20);\n    JsonString.dr = 255;\n    JsonString.fd = getRandomArbitrary(1,100);\n    JsonString.fdt = 3;\n    JsonString.br = getRandomArbitrary(100,255);\n\n\n\n    var Stringify = JSON.stringify(JsonString);\n    //var length_str = Stringify.length / 200;\n    //console.log(length_str);\n    //msg=function?json={'ws2811_setup':1}\", function (callback) {\n    var link = \"192.168.1.112/ws2811AJAX?json=\" + JSON.stringify(JsonString);\n    msg.url=link;\n    return msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["ec19f369.9c048"]]},{"id":"ebebcd76.781eb","type":"link in","z":"482fc81f.67f628","name":"","links":["9e9b4f5a.931ae"],"x":35,"y":400,"wires":[["7ed9405f.b4d26"]]},{"id":"9e9b4f5a.931ae","type":"link out","z":"a648db3.a2c8528","name":"","links":["ebebcd76.781eb"],"x":355,"y":100,"wires":[]},{"id":"812063e9.20965","type":"function","z":"482fc81f.67f628","name":"Bathroom","func":"var parsed =(msg.payload);\nvar stat0={};\nvar stat2={};\n\nstat0.payload =parsed.stat[0];//движение\nstat2.payload =parsed.stat[2];//влажность\n\nvar stat1 ={payload: parsed.stat[1]};//температура\nvar stat3 ={payload: parsed.stat[3]};//3\nvar stat4 ={payload: parsed.stat[4]};//4\nvar stat5 ={payload: parsed.stat[5]};//вентилятор леввый\nvar stat6 ={payload: parsed.stat[6]};//вентилятор правый\nstat0.topic = \"move\";\nstat2.topic = \"humidity\";\n\nvar nowDate = new Date();\nvar Hour = nowDate.getHours();\n\n\nvar switch_bathroom = flow.get(\"$fan.switch_bathroom\");\nswitch_bathroom=1;\nif (stat2.payload>65){\n    if ((Hour>8)&&(Hour<22)&&(switch_bathroom==1)){\n    msg.payload = 0;\n    }\n}else{\n    msg.payload = 1;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["4ddb7ca5.72e454"]]},{"id":"4ddb7ca5.72e454","type":"link out","z":"482fc81f.67f628","name":"","links":["9ac9daac.ca7d38"],"x":455,"y":400,"wires":[]},{"id":"9ac9daac.ca7d38","type":"link in","z":"a648db3.a2c8528","name":"","links":["4ddb7ca5.72e454"],"x":1075,"y":40,"wires":[["b651f1cf.6fd6d","e193d08e.d477b"]]},{"id":"72e4234c.7af9ac","type":"ui_switch","z":"482fc81f.67f628","name":"","label":"switch","tooltip":"","group":"1d6286a7.07c509","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch_bathroom","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":460,"wires":[[]]},{"id":"25ad3f9b.dbb7a","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":470,"y":520,"wires":[["df8303af.b46e7"]]},{"id":"fecb5353.05fd","type":"function","z":"482fc81f.67f628","name":"Request Wheather","func":"var city=\"Dnipro\";\nvar APIkey=\"c3e9cf7a63b7fb63e4ee7504ae3dd41e\";\nmsg.url =\"api.openweathermap.org/data/2.5/weather?q=\"+city+\"&appid=\"+APIkey+\"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["25ad3f9b.dbb7a"]]},{"id":"f681ac5b.d8d88","type":"inject","z":"482fc81f.67f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"240","crontab":"","once":true,"onceDelay":"1","x":90,"y":520,"wires":[["fecb5353.05fd"]]},{"id":"df8303af.b46e7","type":"function","z":"482fc81f.67f628","name":"Decode Weather","func":" var wheather=msg.payload;\n    //var wheather = \"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":500,\\\"main\\\":\\\"Rain\\\",\\\"description\\\":\\\"light rain\\\",\\\"icon\\\":\\\"10d\\\"},{\\\"id\\\":701,\\\"main\\\":\\\"Mist\\\",\\\"description\\\":\\\"mist\\\",\\\"icon\\\":\\\"50d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":279.48,\\\"feels_like\\\":275.13,\\\"temp_min\\\":279.15,\\\"temp_max\\\":279.82,\\\"pressure\\\":1002,\\\"humidity\\\":100},\\\"visibility\\\":3500,\\\"wind\\\":{\\\"speed\\\":5,\\\"deg\\\":190},\\\"rain\\\":{\\\"1h\\\":0.11},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612449242,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612415098,\\\"sunset\\\":1612449779},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather2=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":803,\\\"main\\\":\\\"Clouds\\\",\\\"description\\\":\\\"broken clouds\\\",\\\"icon\\\":\\\"04n\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":267.1,\\\"feels_like\\\":257.04,\\\"temp_min\\\":267.04,\\\"temp_max\\\":267.15,\\\"pressure\\\":1018,\\\"humidity\\\":73},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":10,\\\"deg\\\":320},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612555439,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612501412,\\\"sunset\\\":1612536277},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather3=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":800,\\\"main\\\":\\\"Clear\\\",\\\"description\\\":\\\"clear sky\\\",\\\"icon\\\":\\\"01d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":269.43,\\\"feels_like\\\":263.53,\\\"temp_min\\\":268.71,\\\"temp_max\\\":270.15,\\\"pressure\\\":1016,\\\"humidity\\\":59},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":4,\\\"deg\\\":290},\\\"clouds\\\":{\\\"all\\\":0},\\\"dt\\\":1612612299,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612587724,\\\"sunset\\\":1612622776},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    var wheather_parse = JSON.parse(wheather);\n    var feels_like = Math.round(wheather_parse.main.feels_like - 273, 15);\n    var temp = Math.round(wheather_parse.main.temp - 273, 15);\n    var signigicant_wheather = 0;\n    if (wheather_parse.weather[0].main === ('Rain')) {\n        signigicant_wheather = 4;\n    } else if (wheather_parse.weather[0].main === ('Clouds')) {\n        signigicant_wheather = 1;\n    } else if (wheather_parse.weather[0].main === ('Snow')) {\n        signigicant_wheather = 5;\n    } else if (wheather_parse.weather[0].main === ('Clear')) {\n        signigicant_wheather = 0;//Clear\n    }\n\n    //console.log(wheather_parse.weather[0].main===('Clear'));\n    var main = (wheather_parse.weather)[0].description;\n    var wind = (wheather_parse.wind.speed);\n    var wind_dir = (wheather_parse.wind.deg);\n    var sunrise=(new Date(wheather_parse.sys.sunrise*1000).getHours()*60+(new Date(wheather_parse.sys.sunrise*1000).getMinutes()));\n    var sunset=(new Date(wheather_parse.sys.sunset*1000).getHours()*60+(new Date(wheather_parse.sys.sunset*1000).getMinutes()));\n    var nowtime=(new Date().getHours()*60+(new Date().getMinutes()));\n    var isSunrise = ((sunrise)<(nowtime)&&((sunset)>(nowtime)))?255:100;\n\n    function getMinMax(value, minOutput, maxOutput, maxInput) {\n        var middle = 0;\n        middle = Math.round((value - minOutput) * maxInput / (maxOutput - minOutput));\n        return middle;\n    }\n\n    var ws8211 = \"{\\\"from\\\":[0],\\\"to\\\":[88],\\\"type\\\":[1],\\\"dir\\\":[0],\\\"col\\\":[0],\\\"wh\\\":[128],\\\"br_\\\":[230],\\\"num\\\":1,\\\"sp\\\":254,\\\"dr\\\":255,\\\"fd\\\":4,\\\"fdt\\\":3,\\\"br\\\":255}\";\n    var JsonString = {};\n    JsonString.from = [0];\n    //JsonString.g1 = g1;\n    JsonString.to = [41];\n    JsonString.type = [signigicant_wheather];\n    JsonString.dir = [wind_dir < 180 ? 0 : 1];\n    JsonString.col = [getMinMax(temp, -20, 40, 255)];\n    JsonString.wh = [255];\n    JsonString.br_ = [isSunrise];\n    JsonString.num = 1;\n    JsonString.sp = getMinMax(wind, 0, 15, 255);\n    JsonString.dr = 255;\n    JsonString.fd = ((signigicant_wheather === 1) || (signigicant_wheather === 0)) ? 100 : 100;\n    JsonString.fdt = 3;\n    JsonString.br = 255;\n\n    var url = \"http://192.168.1.111/ws2811AJAX?json=\";\n    var AjaxFormat = url + JSON.stringify(JsonString);\n    console.log(AjaxFormat);\n    msg.url = AjaxFormat;\n    //return msg;\n    //console.log(AjaxFormat);\n   // msg.url = AjaxFormat;\n    var temp_obj={\n        \"payload\":temp,\n        \"topic\":\"temp\"\n    }\n\nreturn [temp_obj,msg];","outputs":2,"noerr":0,"x":670,"y":480,"wires":[["32e669c6.cea576","88b1a0a0.f1bd1"],["3ecc9e30.5d7e32","88b1a0a0.f1bd1"]]},{"id":"3ecc9e30.5d7e32","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":500,"wires":[[]]},{"id":"77ae292e.4bd9d8","type":"change","z":"a648db3.a2c8528","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"balcony","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":560,"wires":[["60a2753e.caadcc","46cbce60.963f"]]},{"id":"67099c5d.6f1644","type":"inject","z":"482fc81f.67f628","name":"полив","topic":"timestamp_interval","payload":"true","payloadType":"bool","repeat":"","crontab":"*/30 0-22 * * *","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["47d1f63e.91f268"]]},{"id":"d212cb85.98daa8","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.114/sendAJAX?json={\"t\":0,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":620,"wires":[[]]},{"id":"ce8f574.db072a8","type":"delay","z":"482fc81f.67f628","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":620,"wires":[["8ea23ad.17fa1c8"]]},{"id":"8ea23ad.17fa1c8","type":"change","z":"482fc81f.67f628","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":680,"wires":[["d212cb85.98daa8"]]},{"id":"302c4dd3.c360d2","type":"function","z":"482fc81f.67f628","name":"balcony","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};//увлажнение\nvar stat2 ={payload: parsed.stat[1]};//полив\nvar stat3 ={payload: parsed.stat[2]};//температура\nvar stat4 ={payload: parsed.stat[3]};//влажность\nvar stat8 ={payload: parsed.stat[8]};//цветок1\nstat8.topic=\"flv1\";\nvar stat9 ={payload: parsed.stat[9]};//цветок2\nstat9.topic=\"flv2\";\nmsg.topic=\"полив\";\n\nif ((stat8.payload<500)&&(stat9.payload<500)){\n    msg.payload=0;\n}else{\n    msg.payload=1;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["d212cb85.98daa8","ce8f574.db072a8","b1d63436.9a9be8","8a876bba.420768"]]},{"id":"47d1f63e.91f268","type":"http request","z":"482fc81f.67f628","name":"balcony","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.114/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":620,"wires":[["302c4dd3.c360d2"]]},{"id":"44c39a67.377124","type":"ui_chart","z":"a648db3.a2c8528","name":"цветок1","group":"d9866dbb.2fec5","order":6,"width":0,"height":0,"label":"цветок1","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":600,"wires":[[]]},{"id":"1bfa5632.b47d8a","type":"ui_chart","z":"a648db3.a2c8528","name":"цветок2","group":"d9866dbb.2fec5","order":7,"width":0,"height":0,"label":"цветок2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":620,"wires":[[]]},{"id":"a49bbbf7.a014b8","type":"inject","z":"482fc81f.67f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":740,"wires":[["6a74b7d1.618368"]]},{"id":"268ab134.af7c1e","type":"inject","z":"482fc81f.67f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":820,"wires":[["1c5968a2.3236d7"]]},{"id":"6a74b7d1.618368","type":"change","z":"482fc81f.67f628","name":"","rules":[{"t":"set","p":"dividend","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":740,"wires":[["d969e55e.ae9888"]]},{"id":"1c5968a2.3236d7","type":"change","z":"482fc81f.67f628","name":"","rules":[{"t":"set","p":"divisor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":820,"wires":[["d969e55e.ae9888"]]},{"id":"d969e55e.ae9888","type":"function","z":"482fc81f.67f628","name":"","func":"\nreturn {payload:(flow.get('dividend')/flow.get('divisor'))};","outputs":1,"noerr":0,"x":710,"y":780,"wires":[["89de0e9a.53e58"]]},{"id":"89de0e9a.53e58","type":"debug","z":"482fc81f.67f628","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":780,"wires":[]},{"id":"c5578d2b.fb459","type":"function","z":"482fc81f.67f628","name":"Request Wheather","func":"var city=\"Dnipro\";\nvar lat=\"48\";\nvar lon=\"35\";\nvar APIkey=\"c3e9cf7a63b7fb63e4ee7504ae3dd41e\";\n//msg.url =\"api.openweathermap.org/data/2.5/forecast?lat=\"+lat+\"&lon=\"+lon+\"&appid=\"+APIkey+\"\";\nmsg.url =\"api.openweathermap.org/data/2.5/forecast?q=\"+city+\"&appid=\"+APIkey+\"\";\n\n//\"api.openweathermap.org/data/2.5/forecast?lat=35&lon=139&appid={API key}\";\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":960,"wires":[["20298ada.2034a6"]]},{"id":"20298ada.2034a6","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":530,"y":960,"wires":[["f882f600.593308"]]},{"id":"99deb4f9.a7a4b8","type":"function","z":"482fc81f.67f628","name":"Decode Weather","func":" var wheather=msg.payload;\n \n    //var wheather = \"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":500,\\\"main\\\":\\\"Rain\\\",\\\"description\\\":\\\"light rain\\\",\\\"icon\\\":\\\"10d\\\"},{\\\"id\\\":701,\\\"main\\\":\\\"Mist\\\",\\\"description\\\":\\\"mist\\\",\\\"icon\\\":\\\"50d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":279.48,\\\"feels_like\\\":275.13,\\\"temp_min\\\":279.15,\\\"temp_max\\\":279.82,\\\"pressure\\\":1002,\\\"humidity\\\":100},\\\"visibility\\\":3500,\\\"wind\\\":{\\\"speed\\\":5,\\\"deg\\\":190},\\\"rain\\\":{\\\"1h\\\":0.11},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612449242,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612415098,\\\"sunset\\\":1612449779},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather2=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":803,\\\"main\\\":\\\"Clouds\\\",\\\"description\\\":\\\"broken clouds\\\",\\\"icon\\\":\\\"04n\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":267.1,\\\"feels_like\\\":257.04,\\\"temp_min\\\":267.04,\\\"temp_max\\\":267.15,\\\"pressure\\\":1018,\\\"humidity\\\":73},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":10,\\\"deg\\\":320},\\\"clouds\\\":{\\\"all\\\":75},\\\"dt\\\":1612555439,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612501412,\\\"sunset\\\":1612536277},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    // var wheather3=\"{\\\"coord\\\":{\\\"lon\\\":34.9833,\\\"lat\\\":48.45},\\\"weather\\\":[{\\\"id\\\":800,\\\"main\\\":\\\"Clear\\\",\\\"description\\\":\\\"clear sky\\\",\\\"icon\\\":\\\"01d\\\"}],\\\"base\\\":\\\"stations\\\",\\\"main\\\":{\\\"temp\\\":269.43,\\\"feels_like\\\":263.53,\\\"temp_min\\\":268.71,\\\"temp_max\\\":270.15,\\\"pressure\\\":1016,\\\"humidity\\\":59},\\\"visibility\\\":10000,\\\"wind\\\":{\\\"speed\\\":4,\\\"deg\\\":290},\\\"clouds\\\":{\\\"all\\\":0},\\\"dt\\\":1612612299,\\\"sys\\\":{\\\"type\\\":1,\\\"id\\\":8901,\\\"country\\\":\\\"UA\\\",\\\"sunrise\\\":1612587724,\\\"sunset\\\":1612622776},\\\"timezone\\\":7200,\\\"id\\\":709930,\\\"name\\\":\\\"Dnipro\\\",\\\"cod\\\":200}\";\n    var wheather_parse = JSON.parse(wheather);\n    var feels_like = Math.round(wheather_parse.main.feels_like - 273, 15);\n    var temp = Math.round(wheather_parse.main.temp - 273, 15);\n    var signigicant_wheather = 0;\n    if (wheather_parse.weather[0].main === ('Rain')) {\n        signigicant_wheather = 4;\n    } else if (wheather_parse.weather[0].main === ('Clouds')) {\n        signigicant_wheather = 1;\n    } else if (wheather_parse.weather[0].main === ('Snow')) {\n        signigicant_wheather = 5;\n    } else if (wheather_parse.weather[0].main === ('Clear')) {\n        signigicant_wheather = 0;//Clear\n    }\n\n    //console.log(wheather_parse.weather[0].main===('Clear'));\n    var main = (wheather_parse.weather)[0].description;\n    var wind = (wheather_parse.wind.speed);\n    var wind_dir = (wheather_parse.wind.deg);\n    var sunrise=(new Date(wheather_parse.sys.sunrise*1000).getHours()*60+(new Date(wheather_parse.sys.sunrise*1000).getMinutes()));\n    var sunset=(new Date(wheather_parse.sys.sunset*1000).getHours()*60+(new Date(wheather_parse.sys.sunset*1000).getMinutes()));\n    var nowtime=(new Date().getHours()*60+(new Date().getMinutes()));\n    var isSunrise = ((sunrise)<(nowtime)&&((sunset)>(nowtime)))?255:100;\n\n    function getMinMax(value, minOutput, maxOutput, maxInput) {\n        var middle = 0;\n        middle = Math.round((value - minOutput) * maxInput / (maxOutput - minOutput));\n        return middle;\n    }\n\n    var ws8211 = \"{\\\"from\\\":[0],\\\"to\\\":[88],\\\"type\\\":[1],\\\"dir\\\":[0],\\\"col\\\":[0],\\\"wh\\\":[128],\\\"br_\\\":[230],\\\"num\\\":1,\\\"sp\\\":254,\\\"dr\\\":255,\\\"fd\\\":4,\\\"fdt\\\":3,\\\"br\\\":255}\";\n    var JsonString = {};\n    JsonString.from = [0];\n    //JsonString.g1 = g1;\n    JsonString.to = [41];\n    JsonString.type = [signigicant_wheather];\n    JsonString.dir = [wind_dir < 180 ? 0 : 1];\n    JsonString.col = [getMinMax(temp, -20, 40, 255)];\n    JsonString.wh = [255];\n    JsonString.br_ = [isSunrise];\n    JsonString.num = 1;\n    JsonString.sp = getMinMax(wind, 0, 15, 255);\n    JsonString.dr = 255;\n    JsonString.fd = ((signigicant_wheather == 1) || (signigicant_wheather == 0)) ? 100 : 100;\n    JsonString.fdt = 3;\n    JsonString.br = 255;\n\n    var url = \"http://192.168.1.111/ws2811AJAX?json=\";\n    var AjaxFormat = url + JSON.stringify(JsonString);\n    console.log(AjaxFormat);\n    msg.url = AjaxFormat;\n    return msg;\n    console.log(AjaxFormat);\n    msg.url = AjaxFormat;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":860,"wires":[["6174e5b1.a599ac"]]},{"id":"6174e5b1.a599ac","type":"http request","z":"482fc81f.67f628","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":860,"wires":[[]]},{"id":"f882f600.593308","type":"debug","z":"482fc81f.67f628","name":"forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":960,"wires":[]},{"id":"ec2600eb.b4993","type":"inject","z":"482fc81f.67f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":960,"wires":[["c5578d2b.fb459"]]},{"id":"46d658a5.9e71e8","type":"ui_button","z":"482fc81f.67f628","name":"","group":"d9866dbb.2fec5","order":6,"width":0,"height":0,"passthru":false,"label":"Полив","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":580,"wires":[["47d1f63e.91f268"]]},{"id":"b1d63436.9a9be8","type":"delay","z":"482fc81f.67f628","name":"","pauseType":"rate","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":620,"y":680,"wires":[["8ea23ad.17fa1c8"]]},{"id":"6a86c33b.a3213c","type":"telegram sender","z":"6d655fe7.7da","name":"sender","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":550,"y":160,"wires":[[]]},{"id":"c8204027.1994f","type":"telegram receiver","z":"6d655fe7.7da","name":"","bot":"a322e9f5.e63738","saveDataDir":"","filterCommands":false,"x":370,"y":300,"wires":[["41630bc8.4a5064"],[]]},{"id":"41630bc8.4a5064","type":"telegram sender","z":"6d655fe7.7da","name":"","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":670,"y":300,"wires":[[]]},{"id":"1ae9b928.3a8327","type":"catch","z":"6d655fe7.7da","name":"","scope":null,"uncaught":false,"x":460,"y":520,"wires":[["cd8e5afc.642ef8"]]},{"id":"db7d0f02.13a33","type":"telegram sender","z":"6d655fe7.7da","name":"Error","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":750,"y":520,"wires":[[]]},{"id":"37d367ed.578ef8","type":"function","z":"6d655fe7.7da","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["6a86c33b.a3213c"]]},{"id":"b0f1beb9.0e4e5","type":"inject","z":"6d655fe7.7da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[["37d367ed.578ef8"]]},{"id":"acfc0658.103d68","type":"telegram sender","z":"482fc81f.67f628","name":"send_watering","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":360,"y":340,"wires":[[]]},{"id":"1c2a3a01.32ef46","type":"function","z":"482fc81f.67f628","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":340,"wires":[["acfc0658.103d68"]]},{"id":"4a4b3df5.f06854","type":"telegram sender","z":"482fc81f.67f628","name":"send_watering","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":1280,"y":660,"wires":[[]]},{"id":"8a876bba.420768","type":"function","z":"482fc81f.67f628","name":"message","func":"if (msg.payload ==1) return;\nvar content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":680,"wires":[[]]},{"id":"26cc07cc.d99778","type":"telegram sender","z":"a648db3.a2c8528","name":"send","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":1030,"y":380,"wires":[[]]},{"id":"955ada72.8e6578","type":"function","z":"a648db3.a2c8528","name":"message","func":"if (msg.payload ==0) return;\nvar content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":380,"wires":[["26cc07cc.d99778"]]},{"id":"cd8e5afc.642ef8","type":"function","z":"6d655fe7.7da","name":"message","func":"var content = msg.topic+\" payload:\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["db7d0f02.13a33"]]},{"id":"3b97acc7.4a6874","type":"telegram sender","z":"a648db3.a2c8528","name":"sender","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":990,"y":1120,"wires":[[]]},{"id":"ea716838.e75898","type":"function","z":"a648db3.a2c8528","name":"message","func":"var content = msg.topic+\" :\"+msg.payload;\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1120,"wires":[["3b97acc7.4a6874"]]},{"id":"32e669c6.cea576","type":"change","z":"482fc81f.67f628","name":"set temp","rules":[{"t":"set","p":"temp_outer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":540,"wires":[["88b1a0a0.f1bd1"]]},{"id":"db14ae07.2c72c","type":"function","z":"a648db3.a2c8528","name":"check temp outer","func":"var temp_outer= {payload:(global.get('temp_outer'))};\nvar set_outer_temp=global.get('temp_outside_slider');\nvar info={\n    \"topic\":\"теплый пол\",\n    \"payload\":\"теплый пол не включен из-за температуры снаружи:\" +set_outer_temp\n};\nif (global.get(\"temp_outer_message\")===0){\n    info=null;\n}\nif (temp_outer.payload>set_outer_temp){//если температура больше 10 то отключать теплый пол\n    msg.payload=1;\n    msg.topic=\"теплый пол не включен из-за температуры снаржуи\";\n    global.set(\"temp_outer_message\",1);\n// global.set(\"temp_outer\",GlobalTemp);\n// msg.payload = global.get(\"Temp\");\n}else{\n    msg.payload=0;\n    info=null;\n}\n\nreturn [msg,info];","outputs":2,"noerr":0,"x":550,"y":960,"wires":[["ad7590d1.663cb","76f0ebb7.1293a4","1ebf10b7.ba3d5f","2df8cfd3.6ad03","e0836528.a83a48","fc5dd23c.57901"],["9ec79880.364408"]]},{"id":"7a39e328.1c666c","type":"telegram sender","z":"a648db3.a2c8528","name":"sender","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":890,"y":980,"wires":[[]]},{"id":"9ec79880.364408","type":"function","z":"a648db3.a2c8528","name":"message","func":"var content = msg.topic+\" :\"+msg.payload;\nif (msg.payload===null){return;}\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":980,"wires":[["7a39e328.1c666c"]]},{"id":"285efcd.f547a04","type":"ui_slider","z":"a648db3.a2c8528","name":"outside_temp","label":"порог температуры снаружи","tooltip":"порог температуры воздуха снаружи, при которой включается теплый пол {{global.get('temp_outer')}}","group":"b8905b6.bebd3a8","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"set_outside_temp","min":0,"max":"25","step":1,"x":1240,"y":900,"wires":[["778e83d8.21e5fc"]]},{"id":"778e83d8.21e5fc","type":"change","z":"a648db3.a2c8528","name":"","rules":[{"t":"set","p":"temp_outside_slider","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":940,"wires":[[]]},{"id":"29a97aba.1aaef6","type":"change","z":"a648db3.a2c8528","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temp_outside_slider","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":860,"wires":[["285efcd.f547a04"]]},{"id":"1a26b288.e8a33d","type":"inject","z":"a648db3.a2c8528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1070,"y":860,"wires":[["29a97aba.1aaef6"]]},{"id":"857af36e.64ca4","type":"rbe","z":"a648db3.a2c8528","name":"","func":"deadbandEq","gap":"10","start":"","inout":"out","property":"payload","x":560,"y":300,"wires":[["b74d8b3c.804e88"]]},{"id":"fbb30cc9.e2523","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":870,"y":200,"wires":[["1c00d6c3.f475e9"]]},{"id":"1506bed8.89f591","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":260,"wires":[["764b56c5.93a258"]]},{"id":"da27be69.4ace9","type":"rbe","z":"a648db3.a2c8528","name":"","func":"deadbandEq","gap":"10","start":"","inout":"out","property":"payload","x":580,"y":620,"wires":[["1bfa5632.b47d8a"]]},{"id":"354e93f5.aa9b3c","type":"rbe","z":"a648db3.a2c8528","name":"","func":"deadbandEq","gap":"10","start":"","inout":"out","property":"payload","x":580,"y":600,"wires":[["44c39a67.377124"]]},{"id":"a0df0e9f.cbca6","type":"rbe","z":"a648db3.a2c8528","name":"","func":"deadbandEq","gap":"5","start":"","inout":"out","property":"payload","x":580,"y":580,"wires":[["de82db5a.c69928"]]},{"id":"ffa334d4.662378","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":560,"wires":[["70cc7f14.8844c"]]},{"id":"5816f60f.7db088","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":540,"wires":[["5e27ec9d.35b544"]]},{"id":"ce5a8ad4.0fdcf8","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":520,"wires":[["2df78027.b6162"]]},{"id":"cf2aacb2.fe0c4","type":"rbe","z":"a648db3.a2c8528","name":"","func":"deadbandEq","gap":"10","start":"","inout":"out","property":"payload","x":640,"y":120,"wires":[["415bba88.67fc54"]]},{"id":"b9960972.12c928","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610,"y":60,"wires":[["9c94cd6e.5f2e3"]]},{"id":"ade547b7.05ccb8","type":"rbe","z":"a648db3.a2c8528","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610,"y":20,"wires":[["7547afdc.0390a"]]},{"id":"fe1fafd4.dbb65","type":"e-mail in","z":"a648db3.a2c8528","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","criteria":"UNSEEN","repeat":"300","fetch":"auto","inputs":0,"x":270,"y":1360,"wires":[["3c68135f.824ecc"]]},{"id":"6d28ae7e.37b7","type":"telegram sender","z":"a648db3.a2c8528","name":"sender","bot":"a322e9f5.e63738","haserroroutput":false,"outputs":1,"x":570,"y":1360,"wires":[[]]},{"id":"3c68135f.824ecc","type":"function","z":"a648db3.a2c8528","name":"message","func":"var content = \"msg.topic\";\nvar ObjectPayload={\n    \"chatId\": \"843873284\",\n    \"type\": \"message\",\n    \"content\":content \n}\nmsg.payload=ObjectPayload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1360,"wires":[["6d28ae7e.37b7"]]},{"id":"7ed9405f.b4d26","type":"rbe","z":"482fc81f.67f628","name":"","func":"deadband","gap":"10","start":"","inout":"out","property":"payload","x":160,"y":400,"wires":[["812063e9.20965"]]}]