backup Node-red/flows_localhost.json
[{"id":"693b4b5c.8f32a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9c90b799.f52848","type":"tab","label":"GActions","disabled":false,"info":""},{"id":"4f3bc4f4.2ff95c","type":"tab","label":"Nora","disabled":false,"info":""},{"id":"1b35d512.462e3b","type":"tab","label":"CPU temperature","disabled":false,"info":""},{"id":"299773e.8e7938c","type":"ui_tab","z":"","name":"Квартира","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d202f0dd.8fad","type":"ui_group","z":"","name":"Ванна","tab":"7b782f39.e70bf","disp":true,"width":"7","collapse":false},{"id":"65bb284d.63c488","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b782f39.e70bf","type":"ui_tab","z":"","name":"Ванна","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"77e1f286.c2c99c","type":"ui_group","z":"","name":"Коридор","tab":"299773e.8e7938c","disp":true,"width":"7","collapse":false},{"id":"42fb4d84.cfb5b4","type":"ui_group","z":"","name":"Общая группа","tab":"299773e.8e7938c","disp":true,"width":"7","collapse":false},{"id":"87f5824c.e1fdb","type":"ui_group","z":"","name":"Балкон","tab":"299773e.8e7938c","disp":true,"width":"7","collapse":false},{"id":"4b26251.b7af4dc","type":"mqtt-broker","z":"","name":"paul_broker","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c797eaf7.2a8e38","type":"ui_group","z":"","name":"Remote relay","tab":"a31576c0.be2a08","disp":true,"width":"4","collapse":false},{"id":"a31576c0.be2a08","type":"ui_tab","z":"","name":"ESP devices","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"5ff51a7a.a0b4a4","type":"ui_group","z":"","name":"Теплый пол","tab":"299773e.8e7938c","disp":true,"width":"6","collapse":false},{"id":"bf590497.4cca08","type":"ui_group","z":"","name":"Control","tab":"e6698960.86f9f8","disp":true,"width":"6","collapse":false},{"id":"e6698960.86f9f8","type":"ui_tab","z":"","name":"ICM","icon":"dashboard"},{"id":"846f3e82.b1751","type":"ui_group","z":"","name":"двери","tab":"fb8c67f.110ca98","disp":true,"width":"6","collapse":false},{"id":"fb8c67f.110ca98","type":"ui_tab","z":"","name":"двери","icon":"dashboard","disabled":false,"hidden":false},{"id":"20b80cf5.5b1b94","type":"ui_tab","z":"","name":"Балкон","icon":"dashboard","disabled":false,"hidden":false},{"id":"a988d425.db4bd8","type":"ui_group","z":"","name":"Балкон","tab":"20b80cf5.5b1b94","disp":true,"width":"6","collapse":false},{"id":"bc7fe228.770d5","type":"google-home-conf","z":"","username":"spspider95","localControl":true},{"id":"b16e109a.c7a1d","type":"tls-config","z":"","name":"","cert":"/data/data/com.termux/files/home/certificate.pem","key":"/data/data/com.termux/files/home/privatekey.pem","ca":"/data/data/com.termux/files/home/certificate.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"3bf6630b.8cbe1c","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"87c2391b.87d9f8","type":"inject","z":"693b4b5c.8f32a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":100,"wires":[["64c27691.380418","84ff99c9.1df948","b2d8c748.15fcb8","bef1c4d1.61fcf8"]]},{"id":"4472667c.286688","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"d202f0dd.8fad","order":4,"width":"0","height":"0","label":"Температура в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":60,"wires":[[]]},{"id":"84ff99c9.1df948","type":"http request","z":"693b4b5c.8f32a4","name":"двери","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":260,"wires":[["f3df08c4.2b8988"]]},{"id":"55c87d74.4ed794","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"846f3e82.b1751","order":1,"width":"0","height":"0","label":"Мощность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":300,"wires":[[]]},{"id":"5d31b1e1.a84d6","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"d202f0dd.8fad","order":5,"width":"0","height":"0","label":"Влажность в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#0fc80b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":100,"wires":[[]]},{"id":"19f97a8c.ee9b75","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":5,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":40,"wires":[[]]},{"id":"d832fae2.4fe818","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"вентилятор в ванной левый","tooltip":"","group":"d202f0dd.8fad","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1240,"y":40,"wires":[["19f97a8c.ee9b75"]]},{"id":"2eb84572.a75dda","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"вентилятор в ванной правый","tooltip":"","group":"d202f0dd.8fad","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1250,"y":80,"wires":[["62ae76c5.9fc9c8"]]},{"id":"62ae76c5.9fc9c8","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.1.112/sendAJAX?json={\"t\":6,\"v\":{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":80,"wires":[[]]},{"id":"64c27691.380418","type":"http request","z":"693b4b5c.8f32a4","name":"ванна","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.112/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":80,"wires":[["96ef9f1b.1e3c2"]]},{"id":"96ef9f1b.1e3c2","type":"function","z":"693b4b5c.8f32a4","name":"Bathroom","func":"var parsed =(msg.payload);\nvar stat0={};\nvar stat2={};\n\nstat0.payload =parsed.stat[0];//движение\nstat2.payload =parsed.stat[2];//влажность\n\nvar stat1 ={payload: parsed.stat[1]};//температура\nvar stat3 ={payload: parsed.stat[3]};//3\nvar stat4 ={payload: parsed.stat[4]};//4\nvar stat5 ={payload: parsed.stat[5]};//вентилятор леввый\nvar stat6 ={payload: parsed.stat[6]};//вентилятор правый\nstat0.topic = \"move\";\nstat2.topic = \"humidity\";\nreturn [ stat0, stat1, stat2,stat5,stat6 ];","outputs":5,"noerr":0,"x":460,"y":60,"wires":[["f97b7d10.2ddb8","16adb6ef.8c1c29"],["4472667c.286688"],["5d31b1e1.a84d6","16adb6ef.8c1c29"],["d832fae2.4fe818","fee576e3.a97f28"],["2eb84572.a75dda","fee576e3.a97f28"]]},{"id":"f97b7d10.2ddb8","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"d202f0dd.8fad","order":3,"width":"0","height":"0","label":"движение в ванной","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":20,"wires":[[]]},{"id":"f3df08c4.2b8988","type":"function","z":"693b4b5c.8f32a4","name":"двери","func":"var parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//открытие двери\nvar stat1 ={payload: parsed.stat[1]};//звонок\nvar stat2 ={payload: parsed.stat[2]};//детектор движения\nvar stat3 ={payload: parsed.stat[3]};//3 - домофон питание\nvar stat4 ={payload: parsed.stat[4]};//4 - домофон вкл\nvar stat5 ={payload: parsed.stat[5]};//5 - замок\nvar stat6 ={payload: parsed.stat[6]};//6 -мощность\n\nreturn [ stat0, stat1, stat2 , stat3 , stat4 , stat5 , stat6 ];","outputs":7,"noerr":0,"x":390,"y":260,"wires":[["352cdc65.4acf54","b451074b.2c98e8","7050bf1.b3cdf4"],[],["7c8efaf6.b48264"],[],[],[],["55c87d74.4ed794","d2d81733.39a908"]]},{"id":"b451074b.2c98e8","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"846f3e82.b1751","order":5,"width":"0","height":"0","label":"открытие двери","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1000,"y":220,"wires":[[]]},{"id":"7c8efaf6.b48264","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"846f3e82.b1751","order":6,"width":"0","height":"0","label":"детектор движения входная дверь","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":260,"wires":[[]]},{"id":"b2d8c748.15fcb8","type":"http request","z":"693b4b5c.8f32a4","name":"балкон","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.114/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":580,"wires":[["f083283.4e975d8","659b53c4.be170c","c761302d.34527"]]},{"id":"fcfe1d27.26ece","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"a988d425.db4bd8","order":1,"width":"0","height":"0","label":"температура","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":580,"wires":[[]]},{"id":"f083283.4e975d8","type":"function","z":"693b4b5c.8f32a4","name":"балкон","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};\nvar stat2 ={payload: parsed.stat[1]};\nvar stat3 ={payload: parsed.stat[2]};\nvar stat4 ={payload: parsed.stat[3]};\n\nreturn [ stat1, stat2, stat3 , stat4 ];","outputs":4,"noerr":0,"x":400,"y":580,"wires":[["2afa66ab.080d9a"],["62749335.d69b4c"],["fcfe1d27.26ece"],["5ed7aa59.d2ba94"]]},{"id":"6176fd25.9fdff4","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"a988d425.db4bd8","order":6,"width":"0","height":"0","label":"увлажнение","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"a886638e.48afb","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"a988d425.db4bd8","order":7,"width":"0","height":"0","label":"полив","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":540,"wires":[[]]},{"id":"5ed7aa59.d2ba94","type":"ui_chart","z":"693b4b5c.8f32a4","name":"","group":"a988d425.db4bd8","order":1,"width":"0","height":"0","label":"влажность","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":620,"wires":[[]]},{"id":"30050b94.9288a4","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.112/sendAJAX?json={%22t%22:4,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":200,"wires":[[]]},{"id":"84554994.79cca8","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"домофон включение","tooltip":"","group":"846f3e82.b1751","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1260,"y":200,"wires":[["30050b94.9288a4"]]},{"id":"9f6a8ace.1aeef8","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"домофон запитать с акк","tooltip":"","group":"846f3e82.b1751","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1230,"y":240,"wires":[["17639a19.a14656"]]},{"id":"17639a19.a14656","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.112/sendAJAX?json={%22t%22:3,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":240,"wires":[[]]},{"id":"bef1c4d1.61fcf8","type":"http request","z":"693b4b5c.8f32a4","name":"теплый пол","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:127,%22v%22:0}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":700,"wires":[["c7d0f6eb.ccd7d8"]]},{"id":"c7d0f6eb.ccd7d8","type":"function","z":"693b4b5c.8f32a4","name":"теплый пол","func":"var parsed =(msg.payload);\nvar stat0 ={payload: parsed.stat[0]};//батарея балкон\nvar stat1 ={payload: parsed.stat[1]};//насос\nvar stat2 ={payload: parsed.stat[2]};//кухня\nvar stat3 ={payload: parsed.stat[3]};//ванна\nvar stat4 ={payload: parsed.stat[4]};//коридор\nvar stat5 ={payload: parsed.stat[5]};//комната1\nvar stat6 ={payload: parsed.stat[6]};//комната2\nvar stat7 ={payload: parsed.stat[7]};//балкон\nreturn [ stat0, stat1, stat2, stat3, stat4,stat5,stat6,stat7 ];","outputs":8,"noerr":0,"x":430,"y":720,"wires":[["592fd87f.39ba18"],["cfa60231.0029a"],["78a78d21.810a94"],["c374b380.92b2"],["1d887add.367475"],["9cdf95fd.03bce8"],["40faf52b.0857dc"],["254d4c4a.7ac504"]]},{"id":"8eee5668.8ab1f8","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:0,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":660,"wires":[[]]},{"id":"592fd87f.39ba18","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"батарея балкон","tooltip":"","group":"5ff51a7a.a0b4a4","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":620,"y":660,"wires":[["8eee5668.8ab1f8"]]},{"id":"cfa60231.0029a","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"насос","tooltip":"","group":"5ff51a7a.a0b4a4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":590,"y":680,"wires":[["93230c0b.c2175"]]},{"id":"93230c0b.c2175","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:1,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":680,"wires":[[]]},{"id":"7bf82c4f.7e1ff4","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:2,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":700,"wires":[[]]},{"id":"78a78d21.810a94","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"кухня","tooltip":"","group":"5ff51a7a.a0b4a4","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":590,"y":700,"wires":[["7bf82c4f.7e1ff4"]]},{"id":"c374b380.92b2","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"ванна","tooltip":"","group":"5ff51a7a.a0b4a4","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":590,"y":720,"wires":[["23806131.82842e"]]},{"id":"23806131.82842e","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:3,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":720,"wires":[[]]},{"id":"7f079028.429bb","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:4,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":740,"wires":[[]]},{"id":"1d887add.367475","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"коридор","tooltip":"","group":"5ff51a7a.a0b4a4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":600,"y":740,"wires":[["7f079028.429bb"]]},{"id":"9cdf95fd.03bce8","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"комната1","tooltip":"","group":"5ff51a7a.a0b4a4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":600,"y":760,"wires":[["94b9862c.479978"]]},{"id":"94b9862c.479978","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:5,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":760,"wires":[[]]},{"id":"4167b092.c1e6f","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:6,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":780,"wires":[[]]},{"id":"40faf52b.0857dc","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"комната2","tooltip":"","group":"5ff51a7a.a0b4a4","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":600,"y":780,"wires":[["4167b092.c1e6f"]]},{"id":"254d4c4a.7ac504","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"балкон","tooltip":"","group":"5ff51a7a.a0b4a4","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":600,"y":800,"wires":[["77a0ee24.b72a3"]]},{"id":"77a0ee24.b72a3","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.111/sendAJAX?json={%22t%22:7,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":800,"wires":[[]]},{"id":"2afa66ab.080d9a","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"увлажнение","tooltip":"","group":"a988d425.db4bd8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"testTopic","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":570,"y":440,"wires":[["6176fd25.9fdff4"]]},{"id":"62749335.d69b4c","type":"ui_switch","z":"693b4b5c.8f32a4","name":"","label":"полив","tooltip":"","group":"a988d425.db4bd8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":550,"y":540,"wires":[["a886638e.48afb"]]},{"id":"352cdc65.4acf54","type":"ui_button","z":"693b4b5c.8f32a4","name":"","group":"846f3e82.b1751","order":3,"width":0,"height":0,"passthru":false,"label":"Открыть замок","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":560,"y":220,"wires":[["9e1c2c73.d8a99"]]},{"id":"9e1c2c73.d8a99","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:5,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":220,"wires":[["55ebb58f.12db6c"]]},{"id":"79a0a51e.1368ac","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.110/sendAJAX?json={%22t%22:5,%22v%22:1}","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":280,"wires":[[]]},{"id":"55ebb58f.12db6c","type":"delay","z":"693b4b5c.8f32a4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":280,"wires":[["79a0a51e.1368ac"]]},{"id":"a045f8af.34f8c8","type":"debug","z":"693b4b5c.8f32a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":1020,"wires":[]},{"id":"c0f14cff.f520e","type":"inject","z":"693b4b5c.8f32a4","name":"в 20:00","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":400,"y":820,"wires":[["40faf52b.0857dc"]]},{"id":"34d01da.e7379e2","type":"inject","z":"693b4b5c.8f32a4","name":"в 05:00","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":400,"y":860,"wires":[["40faf52b.0857dc"]]},{"id":"c63370e6.1415d","type":"inject","z":"693b4b5c.8f32a4","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":960,"wires":[["2e48b9f9.46fc36","ef9a42a9.afb1f","dfa0a0c6.86af4","22491148.72bade","e26d943f.2648e8","385d19f1.bb9c26"]]},{"id":"2e48b9f9.46fc36","type":"http request","z":"693b4b5c.8f32a4","name":"IP","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.ipify.org?format=json","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":980,"wires":[["ef9a42a9.afb1f"]]},{"id":"d2d81733.39a908","type":"ui_gauge","z":"693b4b5c.8f32a4","name":"","group":"846f3e82.b1751","order":2,"width":0,"height":0,"gtype":"gage","title":"мощность","label":"кВт","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":340,"wires":[]},{"id":"72afc8ef.d73848","type":"e-mail","z":"693b4b5c.8f32a4","server":"mail.smtp2go.com","port":"2525","secure":true,"tls":true,"name":"spspider95@gmail.com","dname":"","x":850,"y":960,"wires":[]},{"id":"ef9a42a9.afb1f","type":"function","z":"693b4b5c.8f32a4","name":"mail","func":"\nmsg.topic=\"IP\";\nmsg.to=\"spspider95@gmail.com\";\nmsg.from=\"IPAdress\";\n\nvar thatIP= msg.payload.ip;\n\nvar storedIP = context.get ('ip') || 0;\nif(storedIP!==thatIP){\ncontext.set(\"ip\",thatIP);\nmsg.payload=\"https://\"+thatIP+\":1880/ui\";\n}\nelse{\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":960,"wires":[["72afc8ef.d73848"]]},{"id":"659b53c4.be170c","type":"function","z":"693b4b5c.8f32a4","name":"полив","func":"var parsed =(msg.payload);\nvar sliderValue;\nif (msg.topic!=\"watering\"){\n//var parsed =(msg.payload);\nvar stat3 ={payload: parsed.stat[2]};\nvar stat4 ={payload: parsed.stat[3]};\n    \n}\nif (msg.topic==\"watering\"){\n   sliderValue=msg; \nmsg.payload={\"tID\":[0,1],\"En\":[1,0],\"times\":[28800,-1],\"bySignal\":[-1,0],\"bySignalPWM\":[-1,-1],\"type\":[1,2],\"timerType\":[255,255],\"act\":[9,4],\"actBtn\":[\"20 0 \"+msg.payload*10+\" 60\",\"полив\"],\"actOn\":[2,-1],\"pwmTypeAct\":[-1,-1],\"ID\":1,\"Numbers\":2};\n\n//    var parsed =(msg.payload);\n//var stat3 ={payload:parsed.line};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[[]]},{"id":"cee27f08.c4559","type":"ui_slider","z":"693b4b5c.8f32a4","name":"watering","label":"slider","tooltip":"","group":"87f5824c.e1fdb","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"watering","min":0,"max":10,"step":1,"x":720,"y":580,"wires":[["659b53c4.be170c"]]},{"id":"3d5091b3.e2d61e","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.1.114","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":540,"wires":[[]]},{"id":"2cc26525.0fe2aa","type":"function","z":"693b4b5c.8f32a4","name":"saveData","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"KEY\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": \"myfile.png\"\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":540,"wires":[["3d5091b3.e2d61e"]]},{"id":"d43487f2.933c38","type":"inject","z":"693b4b5c.8f32a4","name":"полив","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"0 6-7 * * *","once":false,"onceDelay":0.1,"x":1000,"y":420,"wires":[["6c31ae5d.1a647"]]},{"id":"6c31ae5d.1a647","type":"http request","z":"693b4b5c.8f32a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.114/sendAJAX?json={%22t%22:1,%22v%22:{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1200,"y":420,"wires":[[]]},{"id":"d123f0e2.271c6","type":"googlehome-controller","z":"693b4b5c.8f32a4","name":"homeController","x":460,"y":1100,"wires":[["de719ef8.1a57d"],["d628782a.3bac68"]]},{"id":"9c6de27f.cdc9","type":"http request","z":"693b4b5c.8f32a4","d":true,"name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://94.131.199.182:18081","tls":"b16e109a.c7a1d","persist":false,"proxy":"","authType":"basic","x":190,"y":1100,"wires":[["d123f0e2.271c6","a045f8af.34f8c8"]]},{"id":"de719ef8.1a57d","type":"googlehome-intent","z":"693b4b5c.8f32a4","name":"smarthome","intent":"smarthome","x":710,"y":1160,"wires":[["9de32049.5861c"]]},{"id":"9de32049.5861c","type":"googlehome-ask","z":"693b4b5c.8f32a4","name":"ask","message":"msg.req.params","x":890,"y":1180,"wires":[["296bdce0.2c7de4"]]},{"id":"296bdce0.2c7de4","type":"googlehome-send","z":"693b4b5c.8f32a4","name":"","close_conversation":true,"continue_after":false,"close_message":"cloase message","x":1080,"y":1200,"wires":[[]]},{"id":"d628782a.3bac68","type":"http response","z":"693b4b5c.8f32a4","name":"","statusCode":"","headers":{},"x":640,"y":1240,"wires":[]},{"id":"2fa7a44b.039eac","type":"google-action in","z":"9c90b799.f52848","d":true,"name":"Action Request","topic":"action","port":"18081","url":"/","key":"/data/data/com.termux/files/home/privatekey.pem","cert":"/data/data/com.termux/files/home/certificate.pem","x":120,"y":140,"wires":[["bebf5adf.1ea4d8","1ff7fcab.24ef13"]]},{"id":"bebf5adf.1ea4d8","type":"debug","z":"9c90b799.f52848","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":1230,"y":140,"wires":[]},{"id":"5cbac19b.e8349","type":"google-action response","z":"9c90b799.f52848","name":"","x":1220,"y":240,"wires":[]},{"id":"226e3c1.43ec3c4","type":"change","z":"9c90b799.f52848","name":"Goodbye","rules":[{"t":"set","p":"payload","pt":"msg","to":"See ya later","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[["bebf5adf.1ea4d8","5cbac19b.e8349"]]},{"id":"47ca6a33.6503d4","type":"switch","z":"9c90b799.f52848","name":"Question","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"number","vt":"str"},{"t":"cont","v":"fancy","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":500,"y":260,"wires":[["9e4b8db7.b001b"],["e5eddba1.fc3898"],["2784e3fc.e34c4c"]],"outputLabels":["number","","don't understand"]},{"id":"9e4b8db7.b001b","type":"change","z":"9c90b799.f52848","name":"Number","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"\"My number is \" & $floor($random() * 10)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":220,"wires":[["bebf5adf.1ea4d8","5cbac19b.e8349"]]},{"id":"2784e3fc.e34c4c","type":"change","z":"9c90b799.f52848","name":"Don't understand","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"I'm sorry, I don't understand","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["bebf5adf.1ea4d8","5cbac19b.e8349"]]},{"id":"6d5149a9.cfa4c8","type":"change","z":"9c90b799.f52848","name":"","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"This is Node Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["bebf5adf.1ea4d8","5cbac19b.e8349"]]},{"id":"1ff7fcab.24ef13","type":"switch","z":"9c90b799.f52848","name":"Intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"actions.intent.MAIN","vt":"str"},{"t":"eq","v":"actions.intent.TEXT","vt":"str"},{"t":"eq","v":"actions.intent.CANCEL","vt":"str"}],"checkall":"true","outputs":3,"x":290,"y":240,"wires":[["6d5149a9.cfa4c8"],["47ca6a33.6503d4"],["226e3c1.43ec3c4"]],"outputLabels":["MAIN","TEXT","CANCEL"]},{"id":"e5eddba1.fc3898","type":"change","z":"9c90b799.f52848","name":"Fancy","rules":[{"t":"set","p":"closeConversation","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"<speak>   Here are <say-as interpret-as=\"characters\">SSML</say-as> samples.   I can pause <break time=\"3s\"/>.   I can play a sound   <audio src=\"http://www.sample-videos.com/audio/mp3/crowd-cheering.mp3\">didn't get your MP3 audio file</audio>.   I can speak in cardinals. Your number is <say-as interpret-as=\"cardinal\">10</say-as>.   Or I can speak in ordinals. You are <say-as interpret-as=\"ordinal\">10</say-as> in line.   Or I can even speak in digits. The digits for ten are <say-as interpret-as=\"characters\">10</say-as>.   I can also substitute phrases, like the <sub alias=\"World Wide Web Consortium\">W3C</sub>.   Finally, I can speak a paragraph with two sentences.   <p><s>This is sentence one.</s><s>This is sentence two.</s></p> </speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":280,"wires":[["bebf5adf.1ea4d8","5cbac19b.e8349"]]},{"id":"fee576e3.a97f28","type":"nora-light","z":"693b4b5c.8f32a4","devicename":"Вентиляторы","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"вентиляторы","name":"вентиляторы","nora":"3bf6630b.8cbe1c","topic":"вентиляторы","onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","x":920,"y":80,"wires":[["19f97a8c.ee9b75","62ae76c5.9fc9c8"]]},{"id":"72ec6b0b.b93cb4","type":"nora-thermostat","z":"693b4b5c.8f32a4","devicename":"температура","roomhint":"Спальня вторая","name":"температура","modes":"off,auto","unit":"C","topic":"вентиляторы","passthru":false,"commandOnly":false,"queryOnly":false,"bufferRangeCelsius":2,"nora":"3bf6630b.8cbe1c","x":710,"y":480,"wires":[[]]},{"id":"7050bf1.b3cdf4","type":"nora-lock","z":"693b4b5c.8f32a4","devicename":"замок двери входной","roomhint":"","name":"","passthru":false,"nora":"3bf6630b.8cbe1c","topic":"","lockValue":"false","lockValueType":"bool","unlockValue":"true","unlockValueType":"bool","jammedValue":"true","jammedValueType":"bool","unjammedValue":"false","unjammedValueType":"bool","x":590,"y":160,"wires":[["9e1c2c73.d8a99"]]},{"id":"c761302d.34527","type":"function","z":"693b4b5c.8f32a4","name":"reparse","func":"var parsed =(msg.payload);\nvar stat1 ={payload: parsed.stat[0]};\nvar stat2 ={payload: parsed.stat[1]};\nvar stat3 ={payload: parsed.stat[2]};\nvar stat4 ={payload: parsed.stat[3]};\n\nmsg.payload ={\n\"mode\":\"on\",\n\"humidity\":stat4.payload,\n\"temperature\":stat3.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["72ec6b0b.b93cb4"]]},{"id":"ea467425.0a9858","type":"debug","z":"693b4b5c.8f32a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":140,"wires":[]},{"id":"16adb6ef.8c1c29","type":"function","z":"693b4b5c.8f32a4","d":true,"name":"check time","func":"var nowDate = new Date();\nvar secondtime=0;\n//var msg2=msg;\n//msg2.topic=\"dealyTopic\";\nvar storedMoveBathroom = context.get ('storedMoveBathroom') || 0;\nvar storedDontMoveBathroom = context.get ('storedDontMoveBathroom') || 0;\nvar H